* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
:root {
	--family-font: Public Sans;
	--header-bg: #143c3c;
}
body {
	font-size: 1.6rem;
	font-family: "poppins" sans-serif;
}
/* common */
.services__desc-lv1 {
	position: relative;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #152427;
}
.services__heading-lv1 {
	width: 520px;
	font-weight: 600;
	font-size: 4.2rem;
	line-height: 1.2;
	color: #152427;
}
.services__heading-lv2 {
	padding: 0;
	font-weight: 600;
	font-size: 2.2rem;
	line-height: 1.8;
	color: #152427;
}
.services__desc-lv2 {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.7;
	color: #7d8188;
}
.container {
	position: relative;
	width: 1140px;
	max-width: calc(100%-48px);
	margin: 0 auto;
}
.btn {
	font-family: var(--family-font);
	width: 173px;
	height: 57px;
	color: #fff;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.7;
	background: #143c3c;
	border: 1.5px solid #143c3c;
	border-radius: 40px;
}
.btn:hover {
	cursor: pointer;
	color: #fff;
	border-color: #83a17d;
	background-color: #83a17d;
}
.services__desc-befor::before {
	margin-left: 0;
	position: absolute;
	content: "";
	right: 0;
	left: -46px;
	top: 14px;
	display: block;
	width: 25px;
	height: 1px;
	background: #152427;
}
.services__desc-befor {
	margin-left: 41px;
}
.services__heading-befor::after {
	margin-bottom: 8px;
	content: "";
	display: inline-block;
	width: 66px;
	height: 2px;
	left: 351px;
	top: 121px;
	background-color: #152427;
}

/* header */
a {
	text-decoration: none;
}
.header {
	background-color: #efefef;
	padding: 28px 0 87px;
	min-height: 100vh;
	/* background-color: var(--header-bg);
} */
}
.header-top {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
}
.logo__img {
	display: flex;
	align-items: center;
}

.logo__text {
	margin-left: 10px;
	width: 111.9px;
	color: #152427;
	width: 111.9px;
	height: 14.86px;
	align-items: center;
}
.navbar {
	display: flex;
}
.navbar__list {
	/* position: relative; */
	margin-right: 88px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 38px;
}
.navbar__link {
	font-family: var(--family-font);
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.6;
	color: #575d5e;
}

.navbar__item-home {
	color: #152427;
	padding: 25px 8px;
}
.navbar__item-home::after {
	left: 567px;
	margin-left: -16px;
	top: 69px;
	content: "";
	position: absolute;
	width: 16px;
	height: 2px;
	background: #143c3c;
	display: block;
}

.header-top {
	padding-bottom: 14px;
	width: 1140px;
	border-bottom: 1px solid #fff;
}
/* .header__under {
	margin-top: 13px;
	border-top: 1px solid #143c3c;
	width: 1140px;
	height: 1px;

	color: #152427;
} */
.header-hero {
	display: inline-block;
	margin-top: 28px;
	display: flex;
	justify-content: space-between;
}
.hero__media {
	display: inline-block;
	margin-left: 25px;
}

.hero__images {
	display: inline-block;
	margin-top: 32px;
	margin-right: 25px;
	column-gap: 20px;
	display: flex;
	/* justify-content: flex-end; */
}
.hero-union-quo {
	position: absolute;

	top: 98.93px;
	left: 297px;
}
.hero-union-lip {
	position: absolute;
	top: 106.61px;

	left: 254.61px;
}
.hero__img {
	height: 466px;
	width: 202px;
	border-radius: 110px;
}
.hero__img-between {
	margin-top: 137px;
}
.hero-heading {
	max-width: 368px;
	margin-top: 85px;
	font-family: var(--family-font);
	font-weight: 800;
	font-size: 5rem;
	line-height: 1.2;
	color: #152427;
}
.section-desc {
	font-family: var(--family-font);
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.6;
	color: #575d5e;
}
.section-desc-no1 {
	max-width: 314px;
	margin-top: 20px;
}
.hero-btn {
	margin-top: 42px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.hero__section-video {
	margin-left: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__video {
	margin-left: -21px;
}
.hero__section span {
	margin-left: 15px;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.7;
	text-align: center;
	color: #152427;
}

/* group-mark */
.group {
	margin-top: 42px;
}
.group-mark {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 201px;
	background: #e2eddf;
	border-radius: 100.5px;
}

.group__images {
	display: flex;
	align-items: center;
	justify-content: center;
}
.group-body {
	width: 897px;
	/* margin-left: 121px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.group__Agworld {
	margin-left: 11px;
}
/* services */
.services__inner {
	margin-top: 106px;
}
.services__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.control__btn {
	align-items: center;
	justify-content: center;
	border: none;
	width: 54px;
	height: 54px;
	background: #e2eddf;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	border-radius: 50%;
}
.control__btn:hover {
	border-color: #143c3c;
	color: #fff;
	cursor: pointer;
	background: #143c3c;
}

.control__btn-next {
	rotate: 180deg;
}
/* <!-- SERVICES body --> */
.services-list {
	column-gap: 16px;
	display: flex;
	margin-top: 76px;
	justify-content: center;
}
.services__row-bw {
	width: 368px;
}
.services__row {
	background: #ffffff;

	border-radius: 20px;
	display: block;
	width: 370px;
	overflow: hidden;
	transition: 0.25s;
}
.services__row:hover {
	cursor: pointer;
	box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.services__images {
	overflow: hidden;
	max-width: 100%;
	height: 318px;
}
.services__heading-row {
	padding: 0;
	margin-left: 22px;
	margin-top: 24px;
}
.services__desc-row {
	padding: 0;
	margin: 5px 0 18px 23px;
	width: 268px;
}
/* team */
.team {
	margin-top: 157px;
}
.team-content {
	padding: 0;
}
.team__inner {
	display: flex;

	justify-content: space-between;
}
/* team left */

.team__images {
	position: relative;
	column-gap: 21px;

	display: flex;

	justify-content: center;
}
.team__loading {
	position: absolute;
	top: 418px;
	left: 457px;
	background-color: #fff;
	box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
	border-radius: 8px;
}
.team-list {
	margin-top: 13px;
}
.team__img {
	width: 284px;
	height: 480px;
	border-radius: 210px;
}
.team__vector-slip {
	left: 53.71px;
	bottom: 131.42px;
	position: absolute;
}
.team__vector-unq {
	position: absolute;
	left: 32.46px;
	top: -8px;
}
.team__img-2 {
	margin-top: 13px;
}
.team__img-1 {
	margin-top: 90px;
}
/* team  right */
.team-content {
	max-width: 42.5%;
}
.services__desc-head {
	max-width: 477px;
	font-family: "Poppins";
	margin-top: 11px;
	color: #7d8188;
}
.teambody-01 {
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
}
.team strong {
	margin-top: 11px;
	display: inline-block;
	font-weight: 600;
	font-size: 4.2rem;
	line-height: 1.2;
	color: #152427;
}
.services__desc-team {
	margin-top: 11px;
	margin-left: 22px;
}
.teambody-01 {
	padding-bottom: 20px;
	margin-bottom: 38px;
	position: relative;
}

.teambody-01::after {
	position: absolute;

	content: "";
	width: 485px;
	height: 0px;
	width: 485px;
	height: 0px;
	bottom: 0;
	margin-top: 20px;
	border: 1px solid #83a17d;
}
/* process */
.process {
	margin-top: 79px;
}
.process__item {
	left: 0;
	padding: 0;
	margin: 0;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.section-desc-process {
	max-width: 572px;
}

.process__item-note {
	display: flex;
	align-items: center;
	justify-content: center;
}
.process strong {
	font-weight: 600;
	font-size: 7.2rem;
	line-height: 0.8;
	color: #143c3c;
}
.process__item-idea {
	margin-left: 64px;
}
.process__heading {
	margin-left: 50px;
}
.process__item-lv1 {
	position: relative;
	height: 185px;
	background: #e2eddf;
	border-radius: 33px;
	margin-top: 81px;
}
.coder__img {
	position: absolute;
	top: -259px;
	right: 92px;
}
/* .process__item-lv2 {
	margin-top: 46px;
} */
.process__item-note-lv1 {
	margin-left: 30px;
}
.process__item-note-lv2 {
	margin-left: 20px;
}
.process__item-lv3 {
	margin-top: 54px;
}
.process__item-lv2 {
	margin-top: 46px;
}
.section-desc-learn:hover {
	color: #83a17d;
	cursor: pointer;
	text-decoration: underline;
}
/* projects */
.projects {
	height: 899px;
	margin-top: 148px;
	background-color: var(--header-bg);
}
.projects__heading-top {
	color: #fff;
}
.projects__heading-top::after {
	background-color: #fff;
}
.section-desc-list {
	color: #fff;
}
.projects-header {
	display: inline-block;
	padding-top: 116px;
	display: flex;
	left: 0;
	align-items: center;
}
.projects-desc-heading {
	width: 590px;
}
.projects__content {
	margin-left: 93px;
}
.projects__content-list {
	margin-top: 13px;
	display: flex;
	align-items: center;
	gap: 26px;
}
.projects__video {
	margin-top: 65px;
}
